# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Vars / secrets
terraform/*.tfvars
*.pem
*.key
*.p12
*.cer
*.crt

# OS/editor noise
.DS_Store
*.swp
*.swo
.vscode/
.idea/
